@page "/admin/orderdetails"

@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]

@inherits BlazorAdmin.Helpers.BlazorComponent

@namespace BlazorAdmin.Pages.OrdersPage

<PageTitle>eShopOnWeb Admin: Order Details</PageTitle>

<h1>Order Details</h1>

@if (orderDetails != null && orderDetails.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Buyer Name</th>
                <th>Address</th>
                <th>Date</th>
                <th>Status</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderDetail in orderDetails)
            {
                <tr>
                    @* <td>@orderDetail.BuyerName</td> *@
                    <td>@orderDetail.Address</td>
                    <td>@orderDetail.OrderDate</td>
                    <td>@orderDetail.Status</td>
                    <td>
                        <ul>
                            @foreach (var product in orderDetail.Items)
                            {
                                <li>@product.ItemOrdered.ProductName - @product.UnitPrice</li>
                            }
                    <td>
                        <a href="/order-details/@orderDetail.OrderId">Order Details</a>
                    </td>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No order details found.</p>
}
